@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main .con {
    color: purple;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 20px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .con:hover {
    color: rgb(72, 1, 72);
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

div p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

main h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: purple;
    padding-left: 20px;
    cursor: pointer;
}
a:hover {
    color: rgb(251, 6, 251);
    
}

.Socialmedia {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}
/* .logo{
    width: 20px;
    margin: 0;padding: 0;
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
 } */
 